<%-include("header")-%>
<section class="py-5 text-center container page-section" style="padding:0 !important;background:#CEE5D0;">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto ">
      <div style="padding:30px;margin:0 auto;">
        <h2 style="width:300px;margin:0 auto;">Contact Us</h2>
        <div style="margin:20px auto 0;width:300px;">

            <form class="" id="frmAccount" action="https://formsubmit.co/ssc132000@gmail.com" method="post" autocomplete="off">
              <input type="hidden" name="_captcha" value="false">
              <input type="hidden" name="_next" value="https://murmuring-falls-76179.herokuapp.com/">
              <label for="name">Full Name:</label><br>
              <input class="input-design" type="text" autocomplete="off" name="name" value="" required><br>
              <label for="email">Email:</label><br>
              <input class="input-design" type="email" autocomplete="off" name="email" value="" required><br>
              <label for="phone">Phone No:</label><br>
              <input class="input-design" type="text" autocomplete="off" name="phone" pattern="[7-9]{1}[0-9]{9}"  value="" required><br>
              <label for="message">Message(optional):</label><br>
              <input class="input-design" type="text" autocomplete="off" name="message"  value="" required><br>
              <button type="submit" class="get-started-button" style="margin-top:20px;" name="button">Submit</button>
            </form>

        </div>
      </div>

    </div>
    <div class="col-lg-6 col-md-8 mx-auto contact-us-back" style="height:400px;">

    </div>


  </div>
</section>
<%-include("footer")-%>
