<%-include("header")-%>
<div class="content">

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">


        <div class="row justify-content-center">
          <div class="col-md-6">

            <h3 class="heading mb-4">Let's talk about your company!</h3>


            <p><img src="images/undraw-contact.svg" alt="Image" class="img-fluid"></p>


          </div>
          <div class="col-md-6">
            <p style="font-weight:bold;">Selected theme-</p>
            <p style="color:#FF6B6B"><%=title%></p>
            <form class="mb-5" id="myForm" method="post" onsubmit="isSuccess()" action="/companyInfo">
              <input type="hidden" name="template" value="<%=title%>">
              <div class="row">
                <div class="col-md-12 form-group">
                  <input type="text" class="form-control" name="name" id="name" placeholder="Full name" required>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <input type="text" class="form-control" name="cname" id="companyName" placeholder="Company name" required>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <input type="text" class="form-control" name="product" id="product" placeholder="Product" required>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <textarea class="form-control" name="details" id="details" cols="30" rows="8" placeholder="Details of your company (optional)"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <button type="submit" value="Send Message" class="btnn btnn-primary rounded-0 py-2 px-4">Submit</button>

                  <span class="submitting"></span>
                </div>
              </div>
            </form>

            <div id="form-message-warning mt-4"></div>
            <div id="form-message-success">
              Your message was sent, thank you!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
 function isSuccess(success){


    swal("Success!", "Please go back to home for more!", "success");
  //  document.getElementById("myForm").reset();

}



</script>
<%-include("footer")-%>
