<%-include("header")-%>
<section class="py-5 text-center container page-section" style="padding:0 !important;background:#D4ECDD;">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto ">
      <div  style="padding:10px;margin:40px auto 0;margin-bottom:60px;width:80%;text-align:left;">
        <h1 class="main-head-services">With the right skills, <span style="color:#8E05C2;">anything’s possible</span>  <span class="blink" style="font-weight:700;color:#8E05C2;">!</span></h1>
        <p class="lead text-mute myDesc" style="margin-top:20px;text-align:justify !important;">Give our team a chance and we will make sure you have a excellent digital presence!</p>
        <form action="/" method="get">
          <button type="submit" class="get-started-button">Get Started ></button>
        </form></div>

    </div>
    <div class="col-lg-6 col-md-8 mx-auto services-back" style="height:400px;">

    </div>


  </div>
</section>
<div class="container" style="margin-top:60px;">
  <h5 style="text-align:center;font-weight:bold;margin:0 0 50px;padding:0 10px;">Myknot Services is trusted by 16+ businesses and we are continuously growing.</h5>
  <div class="row" style="margin-bottom:140px;">
    <div class="col-lg-2 col-md-4 col-sm-6 col-6 company-logo" >
      <img src="/images/green-box-logo.webp" style="width:150px;" alt="">
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-6 company-logo">
      <img src="/images/academy-logo.jpg" style="width:150px;" alt="">
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-6 company-logo">
      <img src="/images/insurance-logo.png" style="width:160px;height:30px;" alt="">
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-6 company-logo" >
      <img src="/images/transport-logo.png" style="width:180px;height:50px;" alt="">
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-6 company-logo" >
      <img src="/images/cake-nagar-logo.jpg" style="width:80px;" alt="">
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-6 company-logo" >
      <img src="/images/marks-design-logo.png" style="width:120px;" alt="">
    </div>
  </div>
  <div class="row" style="text-align:center;">
     <h2 class="service-h4-font">Grow your people — and your business</h2>
     <p style="font-family:BiotifRegular,sans-serif;font-size:1.2rem;">Myknot services helps you to navigate change and stay ahead of the digital game.</p>
  </div>
  <div class="row service-div">
     <div class="col-lg-6 col-md-8 mx-auto center">
      <img class="service-images" src="/images/developer.png" alt="">
     </div>
     <div class="col-lg-6 col-md-8 mx-auto">
        <div class="sub-col" style="align-self:center;">
          <h4 class="service-h4-font">Web Design and Development</h4>
          <ul class="service-content">
            <li class="service-content-points">select themes from our unique collection.</li><br>
            <li class="service-content-points">building custom theme accoding to your request.</li><br>
            <li class="service-content-points">with custom domain.</li>
          </ul>
          <a href="/" style="text-decoration:none;"><h5 style="font-weight:bold;color:#916BBF;">Explore ></h5></a>
        </div>
     </div>
  </div>
  <div class="row service-div">
     <div class="col-lg-6 col-md-8 mx-auto center">
      <img class="service-images" src="/images/design.png" alt="">
     </div>
     <div class="col-lg-6 col-md-8 mx-auto">
        <div class="sub-col">
          <h4 class="service-h4-font">Mobile App Development</h4>
          <ul class="service-content">
            <li class="service-content-points">Fresh UI/UX designs for your unique ideas.</li><br>
            <li class="service-content-points">Help to deploy it on playstore</li><br>
            <li class="service-content-points">and cater to a larger audience.</li>
          </ul>
          <!-- <h5 style="font-weight:bold;color:#916BBF;">Explore ></h5> -->
        </div>
     </div>
  </div>
  <div class="row service-div" >
     <div class="col-lg-6 col-md-8 mx-auto center">
      <img class="service-images" src="/images/concept-of-website-recovery.png" alt="">
     </div>
     <div class="col-lg-6 col-md-8 mx-auto">
        <div class="sub-col">
          <h4 class="service-h4-font">Graphic designs</h4>
          <ul class="service-content">
            <li class="service-content-points">Posters, banners and billboards</li><br>
            <li class="service-content-points">Brochures (print and digital)</li><br>
            <li class="service-content-points">PowerPoint presentations</li><br>
            <li class="service-content-points">Social media ads, banners and graphics</li><br>
            <li class="service-content-points">Images for websites and blogs </li><br>
            <li class="service-content-points">Postcards and flyers</li>
          </ul>
          <!-- <h5 style="font-weight:bold;color:#916BBF;">Explore ></h5> -->
        </div>
     </div>
  </div>

  <div class="row service-div" >
     <div class="col-lg-6 col-md-8 mx-auto center">
      <img class="service-images" src="/images/social-media.png" alt="">
     </div>
     <div class="col-lg-6 col-md-8 mx-auto">
        <div class="sub-col">
          <h4 class="service-h4-font">Social Media Marketing</h4>
          <ul class="service-content">
            <li class="service-content-points">Develop Brand Awareness</li><br>
            <li class="service-content-points">Build Relationships (Engagement)</li><br>
            <li class="service-content-points">Increasing Website Exposure (Traffic & Conversions)</li>

          </ul>
          <!-- <h5 style="font-weight:bold;color:#916BBF;">Explore ></h5> -->
        </div>
     </div>
  </div>

  <div class="row service-div" >
     <div class="col-lg-6 col-md-8 mx-auto center">
      <img class="service-images" src="/images/startup-launch.png" alt="">
     </div>
     <div class="col-lg-6 col-md-8 mx-auto">
        <div class="sub-col">
          <h4 class="service-h4-font">Business Promotion</h4>
          <ul class="service-content">
            <li class="service-content-points">Website </li><br>
            <li class="service-content-points">Social Media </li><br>
            <li class="service-content-points">The Elevator Pitch </li><br>
            <li class="service-content-points">Business Cards </li><br>
            <li class="service-content-points">Flyers  </li>
          </ul>
          <!-- <h5 style="font-weight:bold;color:#916BBF;">Explore ></h5> -->
        </div>
     </div>
  </div>

  <div class="row service-div" >
     <div class="col-lg-6 col-md-8 mx-auto center">
      <img class="service-images" src="/images/maintain.png" alt="">
     </div>
     <div class="col-lg-6 col-md-8 mx-auto">
        <div class="sub-col">
          <h4 class="service-h4-font">Lead Generation</h4>
          <ul class="service-content">
            <li class="service-content-points">qualified leads by channelling our efforts in the most impactful way possible.</li><br>
            <li class="service-content-points">We will make sure have a solid digital presence.</li><br>
          </ul>
          <!-- <h5 style="font-weight:bold;color:#916BBF;">Explore ></h5> -->
        </div>
     </div>
  </div>

  <div class="row service-div" >
     <div class="col-lg-6 col-md-8 mx-auto center">
      <img class="service-images" src="/images/cloud-storage.png" alt="">
     </div>
     <div class="col-lg-6 col-md-8 mx-auto">
        <div class="sub-col">
          <h4 class="service-h4-font">Database Provider</h4>
          <ul class="service-content">
            <li class="service-content-points">Secure database.</li><br>
            <li class="service-content-points">Optimizations according to your project needs.</li><br>
          </ul>
          <!-- <h5 style="font-weight:bold;color:#916BBF;">Explore ></h5> -->
        </div>
     </div>
  </div>

</div>
<%-include("footer")-%>
